/* Variables */
/* Submit button */
.submit-btn {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: #00494d;
}

.submit-active {
  background-color: #26c0ab;
}
.submit-active:hover {
  background-color: #c5e4e7;
  color: #00494d;
  cursor: pointer;
}

button[id=submit-btn]:disabled {
  background-color: #5e7a7d;
}
button[id=submit-btn]:disabled:hover {
  cursor: default;
}

/* Radio Buttons */
.radio-choice {
  border-radius: 10px;
  background-color: #00494d;
  margin-bottom: 0.5em;
  padding: 0.3em 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.radio-choice:hover {
  background-color: #c5e4e7;
  color: #00494d;
  cursor: pointer;
}

/* Changes checked color and background */
.radio-input:checked + .radio-choice {
  background-color: #26c0ab;
  color: #00494d;
}

.radio-input:checked + label > input {
  color: red;
}

.radio-input {
  position: fixed;
  opacity: 0;
}

.custom-percent {
  display: block;
  background-color: #e4ecec;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  padding: 0.4em 0;
  text-align: right;
}
.custom-percent:required:invalid {
  border-color: #e4ecec;
}
.custom-percent:hover, .custom-percent:focus, .custom-percent:required:hover:invalid {
  border-color: #26c0ab;
  cursor: pointer;
}

.input-container {
  margin-bottom: 1em;
}

.input-label {
  color: #5e7a7d;
  font-weight: 600;
  display: block;
  padding-bottom: 0.5em;
}

.input-border {
  position: relative;
}

/* Style for the SVG Icon */
.svg-icon {
  align-self: center;
  position: absolute;
  padding-left: 0.5em;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Disabled Spinner for the number input */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Layout */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

.layout {
  max-width: 375px;
  background-color: #c5e4e7;
}

.header {
  padding: 2.5em 0;
  text-align: center;
}

.container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

.tip-form {
  padding: 2em 0;
  width: 85%;
  margin: 0 auto;
}

.form-input {
  background-color: #e4ecec;
  border: 2px solid #e4ecec;
  width: 100%;
  padding: 0.3em 0.5em 0.3em 1.5em;
  /* Text style */
  color: #00494d;
  text-align: right;
  font-size: 24px;
  font-weight: 600;
}
.form-input:required:invalid {
  border-color: #e4ecec;
}
.form-input:hover, .form-input:focus, .form-input:required:hover:invalid {
  border-color: #26c0ab;
  cursor: pointer;
}

.fieldset-container {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 48%);
  justify-content: space-between;
  padding: 0;
  border: none;
}

.result-container {
  border-radius: 10px;
  padding: 1.5em 1em 1em;
  background-color: #00494d;
}

.total-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 1em;
}

/* Label styles */
.amount-label {
  color: white;
  font-weight: 900;
}

.person-label {
  color: #7f9c9f;
  font-weight: 400;
}

.total-label {
  color: #26c0ab;
  font-size: 25px;
  font-weight: 700;
  align-self: center;
}/*# sourceMappingURL=styles.css.map */