@use "main" as base;
@use "components/form";
@use "components/container";
@use "components/button";
@use "components/input";
@use "components/lables";
@use "components/responsive";

/* Layout */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  background-color: base.$title-background;
}
