@use "base";

.layout {
  background-color: base.$title-background;
}

.header {
  padding: 2.5em 0;
  text-align: center;
}

.container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: base.$main-background;
}

.tip-form {
  padding: 2em 0;
  width: 85%;
  margin: 0 auto;
}

.bill-container {
  /*   width: 100%;
 */
}

.input-container {
  margin-bottom: 1.5em;
}

.input-label {
  color: base.$label-color;
  font-weight: 600;
}

.input-border {
  display: flex;
  background-color: base.$input-color;
  padding: 0.5em 0.7em;
  margin-top: 0.5em;
}

.svg-icon {
  align-self: center;
}

.form-input {
  background-color: base.$input-color;
  border: 0px;
  margin-left: 0.5em;
  width: 100%;
  /* Text style */
  color: base.$default-btn;
  text-align: right;
  font-size: 24px;
  font-weight: 600;
}

.fieldset-container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 48%);
  justify-content: space-between;
  padding: 0;
  border: none;
}
.radio-choice {
  border-radius: 10px;
  background-color: base.$default-btn;

  margin-bottom: 0.5em;
  padding: 0.3em 0;
  text-align: center;

  font-size: 24px;
  font-weight: 600;
  color: white;
}

/* Changes checked color and background */
[name="tip-amount"]:checked + label {
  background-color: base.$active-btn;
  color: base.$default-btn;
}

[name="tip-amount"] {
  position: fixed;
  opacity: 0;
}

.result-container {
  border-radius: 10px;
  padding: 1.5em 1em 1em;
  background-color: base.$default-btn;
}

.total-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 1em;
}

.amount-label {
  color: white;
  font-weight: 900;
}

.person-label {
  color: base.$input-border;
  font-weight: 400;
}

.total-label {
  color: base.$active-btn;
  font-size: 25px;
  font-weight: 700;
  align-self: center;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  background-color: base.$active-btn;
  border-radius: 8px;
  border: none;

  color: base.$default-btn;
  font-size: 24px;
  font-weight: 600;
}
