@use "../main" as base;

.input-container {
  margin-bottom: 1em;
}

.input-label {
  color: base.$label-color;
  font-weight: 600;
  display: block;
  padding-bottom: 0.5em;
}

.input-border {
  position: relative;
}

/* Style for the SVG Icon */

.svg-icon {
  align-self: center;
  position: absolute;
  padding-left: 0.5em;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Disabled Spinner for the number input */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
