@use "../main" as base;

@mixin hover-btn {
  background-color: base.$active-btn;
  color: base.$default-btn;
  cursor: pointer;
}

/* Submit button */
.submit-btn {
  display: block;
  width: 100%;
  padding: 0.6em 0;
  border-radius: 8px;
  border: none;
  font-size: 21px;
  font-weight: 600;
  color: base.$default-btn;
}

.submit-active {
  background-color: base.$active-btn;
  &:hover {
    @include hover-btn();
  }
}

button[id="submit-btn"]:disabled {
  background-color: base.$label-color;
  &:hover {
    cursor: default;
  }
}

/* Radio Buttons */
.radio-choice {
  border-radius: 7px;
  background-color: #00494d;
  margin-bottom: 0.65em;
  padding: 0.26em 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: white;

  &:hover {
    @include hover-btn();
  }
}

/* Changes checked color and background */
.radio-input:checked + .radio-choice {
  background-color: base.$active-btn;
  color: base.$default-btn;
}

.radio-input:checked + label > input {
  color: red;
}

.radio-input {
  position: fixed;
  opacity: 0;
}

.custom-percent {
  display: block;
  background-color: base.$input-color;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  padding: 0.4em 0.4em;
  text-align: right;
  border: 2px solid base.$input-color;
  border-radius: 10px;
  color: base.$default-btn;

  /* &:required:invalid {
    border-color: base.$input-color;
  } */

  &:hover,
  &:focus {
    border-color: base.$active-btn;
    cursor: pointer;
  }
}
