@use "../main" as base;

.tip-form {
  width: 84%;
  margin: 0 auto;
}

.form-input {
  background-color: base.$input-color;
  border: 2px solid base.$input-color;
  width: 100%;
  padding: 0.35em 0.6em 0.3em 1.5em;
  /* Text style */
  color: base.$default-btn;
  text-align: right;
  font-size: 24px;
  font-weight: 600;

  &:invalid {
    border-color: red;

    &:hover,
    &:focus {
      border-color: red;
      color: red;
    }
  }

  &:hover,
  &:focus {
    border-color: base.$active-btn;
    cursor: pointer;
  }
}
