@use "../main" as base;

.input-container {
  margin-bottom: 1.2em;
}

.input-label {
  color: base.$label-color;
  justify-content: flex-start;
}

.error-msg {
  justify-content: flex-end;
  margin-left: auto;
  color: red;
  font-size: 13px;
}

.label-and-error {
  padding: 0.2em 0 0.3em 0;
  font-weight: 600;
  display: flex;
}

.error-border {
  border-color: base.$input-color;
}

.input-border {
  position: relative;
  margin-bottom: 2em;
}

/* Style for the SVG Icon */

.svg-icon {
  align-self: center;
  position: absolute;
  padding-left: 1.2em;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Disabled Spinner for the number input */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
